.project-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  //border: 1px solid #e0e0e0;
  border-radius: 6px;
  width: 100%;
  max-width: 380px;
  min-width: 380px;
  row-gap: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.project-card-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid #e0e0e0;
  overflow: hidden;
}

.project-card-logo img {
  margin-top: 6px;
  max-width: 100%;
}

.project-card h2 {
  margin: 8px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.project-card p {
  font-size: 16px;
  color: #777;
  //overflow: hidden;
  //display: -webkit-box;
  //-webkit-box-orient: vertical;
  //-webkit-line-clamp: 3;
}

.project-card a {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #555;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.project-card a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.project-card a:hover {
  font-size: 16px;
  color: #000;
  border-bottom: 2px solid #14B8A6;
  border-radius: 4px;
}
