.intro-card h1 {
  @apply text-black;
}

body.dark .project-card h1 {
  @apply text-white;
}

.intro-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 6px;
  width: 100%;
  max-width: 850px;
  row-gap: 12px;
}

.intro-card-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid #e0e0e0;
}

.intro-card h1 {
  margin: 8px 0 0 0;
  font-size: 50px;
  font-weight: bold;
  color: #333;
}

.intro-card p {
  font-size: 16px;
  color: #777;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 28px;
  margin-bottom: 20px;
}

.intro-card .links {
  gap: 12px;
}

.intro-card a {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #555;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.intro-card a img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.intro-card a:hover {
  font-size: 16px;
  color: #000;
}
