.skills-widget {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #F4F4F5;
  border-radius: 16px;
  width: 100%;
  max-width: 380px;
  //min-width: 380px;
  row-gap: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.skills-widget h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.skills-widget p {
  font-size: 16px;
  color: #777;
}

.skills-widget ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.skills-item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  column-gap: 8px;
  align-items: center;
}

.skills-item img {
  width: 52px;
  height: 52px;
}

.skills-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.skills-item-content h3 {
  padding: 0;
  flex-shrink: 1;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.skills-item-proficiency {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  height: 32px;
  background: #f0f0f0;
  border-radius: 4px;
}

.proficiency-bar {
  height: 100%;
  background-color: #14B8A6;
  border-radius: 4px;
  position: relative;
}
