.navbar-container {
  display: flex;
  justify-content: center;
  width: 350px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 auto;
}

.menu-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu-container .menu-items {
  display: flex;
  justify-content: center;
  flex-direction: row; /* Horizontal layout for desktop */
}

.menu-container .menu-items li {
  margin-left: 15px;
  margin-right: 15px; /* Adjust as needed */
  text-align: center; /* Center align text inside list items */
}

.nav-link-container {
  color: #fff;
  text-decoration: none;
  position: relative;
  /* Add border styles here */
}

.nav-link-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #ff7a18, #af002d);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link-container:hover::after,
.nav-link-container:active::after,
.nav-link-container.active::after {
  transform: scaleX(1);
}

.menu-toggle-container {
  text-align: center; /* Center align the text */
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    width: 150px;
    display: flex;
    flex-direction: column;
  }

  .menu-container {
    display: flex;
    flex-direction: column; /* Change to column layout on mobile */
    align-items: center; /* Center align links horizontally */
    padding: 10px 0; /* Add padding for spacing */
  }

  .menu-container .menu-items {
    display: flex;
    flex-direction: column; /* Change to column layout on mobile */
    align-items: center; /* Center align links horizontally */
  }

  .menu-container .menu-items li {
    margin-right: 0; /* Remove margin between dropdown items */
    margin-left: 0;
    margin-bottom: 10px; /* Add vertical spacing between dropdown items */
  }

  .menu-toggle-container {
    justify-content: center;
  }
}