.article-card {
  display: flex;
  flex-direction: column;
  padding: 24px 14px;
  width: 100%;
  max-width: 1400px;
}

.article-card .article-card-header time {
  font-size: 14px;
  text-transform: uppercase;
  color: #52525B;
  border-left: #e4e4e7 4px solid;
  padding-left: 8px;
}

.article-card .article-card-header h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin: 16px 0;
  font-weight: bold;
}

.article-card p {
  font-size: 16px;
  color: #333;
  margin: 0 0 16px 0;
  line-height: 1.5;
}

.article-card a {
  font-size: 16px;
  font-weight: bold;
  color: #14B8A6;
}

.article-card a:hover {
  text-decoration: underline;
}
