.footer {
  //position: fixed; /* Set position to fixed */
  bottom: 0; /* Position at the bottom of the viewport */
  width: 100%; /* Occupy full width of the viewport */
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  background-color: rgba(244, 245, 245);
  padding: 24px 40px;
  border-top: 1px solid #3F3F46;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-items: center;
  column-gap: 24px;
  padding-left: 144px;
}

.footer ul a {
  color: #555;
  text-decoration: none;
}

.footer ul a:hover {
  color: #333;
  text-decoration: underline;
}

.footer p {
  color: #777;
  font-size: 14px;
  margin: 0;
  padding-right: 144px;
  padding-left: 144px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {

  .footer {
    display: flex;
    min-width: 420px; /* Set a minimum width to prevent the footer from shrinking too much */
    flex-direction: column;
  }

  .footer ul {
    padding-left: 0; /* Reset padding */
    order: 1; /* Change the order to display links above other content */
    justify-content: center;
  }

  .footer p {
    order: 2; /* Change the order to display the year below the links */
    padding-top: 24px; /* Add space between the links and the year */
    padding-left: 0; /* Reset padding */
    padding-right: 0; /* Reset padding */
    text-align: center; /* Center align the year */
    width: 100%; /* Occupy full width */
  }

}
