.uses-card {
  border-radius: 6px;
  width: 100%;
  max-width: 850px;
  //margin-bottom: 64px;
  row-gap: 64px;
}

.uses-card h1 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.uses-card p {
  font-size: 14px;
  color: #777;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 28px;
  margin-bottom: 2px;
}

.uses-card a {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #555;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.uses-card a img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.about a:hover {
  font-size: 16px;
  color: #000;
}

