.btn {
  position: fixed;
  top:6px;
  right: 70px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding:0;
  cursor: pointer;
  font-size: 1rem;

  background-color: white;
  color: #d4dbff;
  border-color: #d4d4d8;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.dark .btn {
  background-color: rgba(200, 200, 200);
  color: #050617;
  box-shadow: 0 0 10px 0 rgba(20, 184, 166, 1);
}

.btn img {
  width: 25px;
  height: 25px;
  margin-left: 3px;
}

.dark .btn img {
  width: 20px;
  height: 20px;
  margin-left: 6px;
}



@media (max-width: 768px) {
  .btn {
    position: fixed;
    top: 13px;
    right: 52px;
  }
}
