.btn {
  position: fixed;
  top:15px;
  right: 200px;
  height: 35px;
  width: 40px;
  border-radius: 48%;
  padding:0;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  background-color: white;
  color: #d4dbff;
  border-color: #d4d4d8;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.dark .btn {
  background-color: white;
  color: #050617;
}

.btn img {
  width: 25px;
  height: 25px;
  margin-left: 7px;
}

@media (max-width: 768px) {
  .btn {
    position: fixed;
    right: 10px;
  }
}
