.about-me {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 6px;
  width: 100%;
  max-width: 850px;
  row-gap: 12px;
}

.about-me h1 {
  margin: 8px 0 0 0;
  font-size: 50px;
  font-weight: bold;
  color: #333;
}

.about-me p {
  font-size: 16px;
  color: #777;
  //overflow: hidden;
  
  line-height: 28px;
  margin-bottom: 20px;
}

.about-me a {
  display: inline-flex;
  align-items: center;
  font-size: 50px;
  color: #555;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.about-me a img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.about a:hover {
  font-size: 16px;
  color: #000;
}
